body {
  background: rgba(46,0,8,1);
  background: -moz-linear-gradient(left, rgba(46,0,8,1) 0%, rgba(138,0,0,1) 4%, rgba(35,0,5,1) 96%, rgba(31,0,5,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,0,8,1)), color-stop(4%, rgba(138,0,0,1)), color-stop(96%, rgba(35,0,5,1)), color-stop(100%, rgba(31,0,5,1)));
  background: -webkit-linear-gradient(left, rgba(46,0,8,1) 0%, rgba(138,0,0,1) 4%, rgba(35,0,5,1) 96%, rgba(31,0,5,1) 100%);
  background: -o-linear-gradient(left, rgba(46,0,8,1) 0%, rgba(138,0,0,1) 4%, rgba(35,0,5,1) 96%, rgba(31,0,5,1) 100%);
  background: -ms-linear-gradient(left, rgba(46,0,8,1) 0%, rgba(138,0,0,1) 4%, rgba(35,0,5,1) 96%, rgba(31,0,5,1) 100%);
  background: linear-gradient(to right, rgba(46,0,8,1) 0%, rgba(138,0,0,1) 4%, rgba(35,0,5,1) 96%, rgba(31,0,5,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e0008', endColorstr='#1f0005', GradientType=1 );
  color: white;
  font-family: Sonsie One;
}

.card {
  background: rgba(92,92,92,1);
  background: -moz-linear-gradient(left, rgba(92,92,92,1) 0%, rgba(66,0,0,1) 3%, rgba(82,0,0,1) 12%, rgba(208,4,4,1) 82%, rgba(240,5,5,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(92,92,92,1)), color-stop(3%, rgba(66,0,0,1)), color-stop(12%, rgba(82,0,0,1)), color-stop(82%, rgba(208,4,4,1)), color-stop(100%, rgba(240,5,5,1)));
  background: -webkit-linear-gradient(left, rgba(92,92,92,1) 0%, rgba(66,0,0,1) 3%, rgba(82,0,0,1) 12%, rgba(208,4,4,1) 82%, rgba(240,5,5,1) 100%);
  background: -o-linear-gradient(left, rgba(92,92,92,1) 0%, rgba(66,0,0,1) 3%, rgba(82,0,0,1) 12%, rgba(208,4,4,1) 82%, rgba(240,5,5,1) 100%);
  background: -ms-linear-gradient(left, rgba(92,92,92,1) 0%, rgba(66,0,0,1) 3%, rgba(82,0,0,1) 12%, rgba(208,4,4,1) 82%, rgba(240,5,5,1) 100%);
  background: linear-gradient(to right, rgba(92,92,92,1) 0%, rgba(66,0,0,1) 3%, rgba(82,0,0,1) 12%, rgba(208,4,4,1) 82%, rgba(240,5,5,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#f00505', GradientType=1 );
  height: 150px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
}

.oneClicked {
  background-color: black;
}

.twoClicked {
 background-color: white;
}

.threeClicked {
  background-color: purple;
}

.fourClicked {
  background-color: green;
}

.fiveClicked {
  background-color: blue;
}

.sixClicked {
  background-color: yellow;
}

.sevenClicked {
  background-color: cyan;
}

.eightClicked {
  background-color: brown;
}
